<ion-header>
  <ion-toolbar>
    <ion-title>Movimentações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="movimentoForm" (ngSubmit)="add()">

    <ion-item>
      <ion-label position="stacked" color="primary">Tipo</ion-label>
      <ion-select formControlName="tipo" placeholder="Selecione o tipo" interface="popover">
        <ion-select-option ngDefaultControl *ngFor="let t of tipos" value="{{ t.valor }}">{{ t.desc }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Descrição</ion-label>
      <ion-input formControlName="descricao" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Valor</ion-label>
      <ion-input formControlName="valor" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Data</ion-label>
      <ion-datetime formControlName="data" cancel-text="Fechar" done-text="Ok" placeholder="Selecione a data"
        displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Caixa</ion-label>
      <ion-select formControlName="caixa" placeholder="Selecione o caixa" interface="popover">
        <ion-select-option ngDefaultControl *ngFor="let caixa of caixas" value="{{ caixa.descricao }}">
          {{ caixa.descricao }}</ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-button expand="block" type="submit" [disabled]="movimentoForm.invalid">Salvar</ion-button>
    <ion-button expand="block" (click)="fechar()">Fechar</ion-button>

  </form>

</ion-content>