<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Caixas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #lista>
    <ion-item-sliding *ngFor="let caixa of caixas">
      <ion-item>
        <ion-label>
          <p>{{ caixa.descricao }}</p>
          <p>Inicial R$: {{ caixa.saldoInicial }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-button fill="clear" slot="end" (click)="update(caixa)">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>

        <ion-button fill="clear" slot="end" (click)="delete(caixa)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>