<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movimentações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #lista>
    <ion-item-sliding *ngFor="let movimento of movimentos">
      <ion-item>
        <ion-label>
          <p>{{ movimento.descricao }}</p>
          <p>ID: {{ movimento.id }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-button fill="clear" slot="end" (click)="mostraMovimento(movimento)">
          <ion-icon slot="icon-only" color="success" name="eye"></ion-icon>
        </ion-button>

        <ion-button fill="clear" slot="end" (click)="update(movimento)">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>

        <ion-button fill="clear" slot="end" (click)="delete(movimento)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

</ion-content>